{
  "openapi": "3.1.0",
  "info": {
    "title": "Postify API",
    "version": "1.0.0",
    "description": "Postify's public REST API. Authenticate with an organization API key (minted in Settings → API keys) sent as `Authorization: Bearer postify_live_…` or `x-api-key`. Errors are RFC 9457 `application/problem+json` with a stable `code`; every response carries `Request-Id`; API-key responses carry IETF draft-11 rate-limit headers.",
    "contact": {
      "name": "Postify support",
      "email": "support@usepostify.com"
    }
  },
  "servers": [
    {
      "url": "https://app.usepostify.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Channels",
      "description": "Connected social accounts (the publish targets)."
    },
    {
      "name": "Posts",
      "description": "Create, schedule, publish, and inspect posts across channels."
    },
    {
      "name": "Media",
      "description": "The media library: list assets and upload via presigned PUT."
    },
    {
      "name": "Analytics",
      "description": "Workspace-level publishing and engagement summary."
    },
    {
      "name": "Usage",
      "description": "Plan meters — including your api_requests allowance."
    },
    {
      "name": "Webhooks",
      "description": "Outbound webhook endpoints: Standard-Webhooks-signed event deliveries with retries and a failure ladder."
    }
  ],
  "paths": {
    "/v1/analytics": {
      "get": {
        "operationId": "getAnalytics",
        "summary": "Get workspace analytics",
        "description": "Workspace-level publishing summary: post counts, delivery success, a 14-day publish timeline, and summed engagement across synced platforms.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "analytics:read"
        ],
        "responses": {
          "200": {
            "description": "The analytics summary.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/channels": {
      "get": {
        "operationId": "listChannels",
        "summary": "List channels",
        "description": "Lists every social account connected to the organization, with connection health. Use a channel's `id` when creating post variants. Not paginated — the channel count is plan-bounded.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "channels:read"
        ],
        "responses": {
          "200": {
            "description": "The organization's connected channels.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelList"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media": {
      "get": {
        "operationId": "listMedia",
        "summary": "List media assets",
        "description": "Lists the organization's media library, newest first, with cursor pagination. Use an asset's `url` as `media[].url` when creating posts.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:read"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size (1–100).",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (1–100)."
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "description": "Opaque cursor from a previous page's `next_cursor`.",
              "type": "string"
            },
            "description": "Opaque cursor from a previous page's `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of media assets.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaList"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media/uploads": {
      "post": {
        "operationId": "createMediaUpload",
        "summary": "Start a media upload",
        "description": "Issues a presigned upload ticket: PUT the raw file bytes to `upload_url` with the same `Content-Type`, then call POST /v1/media/uploads/{id}/complete. The asset kind (image/video/audio) is inferred from `content_type`.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The upload ticket.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media/uploads/{id}/complete": {
      "post": {
        "operationId": "completeMediaUpload",
        "summary": "Complete a media upload",
        "description": "Finalizes an uploaded asset after the PUT succeeds: probes the object, extracts a poster frame for videos, and marks it `ready`. Safe to retry — finalizing an already-ready asset is a no-op.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:write"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Asset identifier."
            },
            "required": true,
            "description": "Asset identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "The finalized asset.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAsset"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "`resource_not_found` — Resource not found. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "`resource_conflict` — Resource state conflicts with the request. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List posts",
        "description": "Lists the organization's posts, newest first, with cursor pagination. Each post carries its per-channel variants and latest delivery outcomes.",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:read"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size (1–100).",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (1–100)."
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "description": "Opaque cursor from a previous page's `next_cursor`.",
              "type": "string"
            },
            "description": "Opaque cursor from a previous page's `next_cursor`."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "Filter by lifecycle state.",
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "publishing",
                "published",
                "failed",
                "needs_approval"
              ]
            },
            "description": "Filter by lifecycle state."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of posts.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostList"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create a post",
        "description": "Creates a post with one variant per target channel. Exactly one mode is required: `draft: true` (save only), `scheduled_at` (future publish), or `publish_now: true` (immediate — requires the workspace's dangerous-operations toggle for API callers). Send an `Idempotency-Key` header to make retries safe.",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:write"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "Client-chosen key (1–255 printable ASCII chars, e.g. a UUID) making this POST safely retryable: within 24h, the same key + same body replays the original response with `Idempotency-Replayed: true`; the same key with a DIFFERENT body is rejected with 422 `idempotency_key_reused`.",
              "example": "9f2b6c1e-6a3d-4c1e-9d2f-0b1a2c3d4e5f",
              "type": "string"
            },
            "description": "Client-chosen key (1–255 printable ASCII chars, e.g. a UUID) making this POST safely retryable: within 24h, the same key + same body replays the original response with `Idempotency-Replayed: true`; the same key with a DIFFERENT body is rejected with 422 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created post.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              },
              "Idempotency-Replayed": {
                "description": "`true` when this response was replayed verbatim from the idempotency ledger instead of re-executing the request.",
                "schema": {
                  "description": "`true` when this response was replayed verbatim from the idempotency ledger instead of re-executing the request.",
                  "example": "true",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan; `dangerous_ops_disabled` — Dangerous AI operations are disabled for this workspace. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "`idempotency_in_progress` — A request with this idempotency key is still in progress. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "`idempotency_key_reused` — Idempotency key reused with a different request body. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a post",
        "description": "Fetches one post with its variants and latest per-channel delivery outcomes. Poll this after publishing to track delivery.",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:read"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post identifier."
            },
            "required": true,
            "description": "Post identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "The post.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "`resource_not_found` — Resource not found. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "reschedulePost",
        "summary": "Reschedule a post",
        "description": "Moves a draft, scheduled, or failed post to a new future publish time (drafts must already have variants). Published, publishing, and approval-pending posts cannot be rescheduled (409 `resource_conflict`).",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:write"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post identifier."
            },
            "required": true,
            "description": "Post identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReschedulePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The rescheduled post.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "`resource_not_found` — Resource not found. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "`resource_conflict` — Resource state conflicts with the request. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Internal server error. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete a post",
        "description": "Deletes a post (it disappears from Postify; already-published platform content is not retracted). A post that is currently publishing cannot be deleted (409). Requires the workspace's dangerous-operations toggle.",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "headerApiKey": []
          }
        ],
        "x-scopes": [
          "posts:write"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post identifier."
            },
            "required": true,
            "description": "Post identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmed.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policy for this API key's burst window.",
                "schema": {
                  "description": "IETF draft-11 quota policy for this API key's burst window.",
                  "example": "\"per-key-minute\";q=120;w=60",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                "schema": {
                  "description": "IETF draft-11 current window state (r = remaining, t = seconds until reset). Omitted when the window state was not observable on this request — never invented.",
                  "example": "\"per-key-minute\";r=73;t=38",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Burst-window request limit (compatibility trio).",
                "schema": {
                  "description": "Burst-window request limit (compatibility trio).",
                  "example": "120",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current burst window.",
                "schema": {
                  "description": "Requests left in the current burst window.",
                  "example": "73",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the burst window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the burst window resets.",
                  "example": "1800000038",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePostResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — Invalid request; `validation_failed` — Request validation failed. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_required` — Authentication required; `invalid_api_key` — Invalid API key. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope` — API credential lacks the required scope; `feature_not_enabled` — Feature not available on the current plan; `dangerous_ops_disabled` — Dangerous AI operations are disabled for this workspace. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "`resource_not_found` — Resource not found. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "`resource_conflict` — Resource state conflicts with the request. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
                "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                "schema": {
                  "type": "string",
                  "description": "Correlation id for this request — echoes a valid inbound `x-request-id`, otherwise a server-minted `req_…` id. Quote it when contacting support.",
                  "example": "req_6f1f8a2b40d34cd2a6f1e2c9b8d7a601"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — Rate limit exceeded; `quota_exhausted` — Plan quota exhausted for this billing period. RFC 9457 problem body; `code` is the machine-readable discriminant.",
            "headers": {
              "Request-Id": {
                "required": true,
[...]
